.modal {
  // max-width: 100%;
  &-content {
    display: flex;
    flex-direction: column;
    // min-width: 50%;
    // max-width: 50%;
  }
  &-header {
    text-align: center;
  }
  &-row {
    display: flex;

    &-side {
      display: flex;
      flex-direction: column;
    }
  }
  &-child {
    flex: 1;
  }
}
