.story {
  &-left {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    &-box {
      margin: 3rem;
      width: 30vw;
      font-size: 1.55rem;
      text-align: center;
      // opacity: 0.7;
      animation-name: moveInRight;
      animation-duration: 1.2s;
      animation-timing-function: ease-out;
    }
  }
  &-right {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    &-box {
      margin: 3rem;
      // border-radius: 1rem;
      width: 30vw;
      font-size: 2rem;
      text-align: center;
      // opacity: 0.8;
      animation-name: moveInLeft;
      animation-duration: 1.2s;
      animation-timing-function: ease-out;
    }
  }
}
