.timeline {
  margin: 7rem;
  width: 100vw;
  margin: 0 auto;
  &-header {
    font-size: 4rem;
  }
  &-container {
    font-size: 2rem;
    position: relative;
    text-align: center;
    &:before {
      text-align: center;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      // left: 1.8rem !important;
      height: 100%;
      width: 4px;
      background: #d7e4ed;
    }
  }
}
